* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html,body {
    width: 100%;
    height: 100%;
}
#main {
    width: 100%;
    height: 100vh;
    background-color: black;
}
#back {
    width: 100%;
    height: 100vh;
    
}
#top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color:#000000d8;
}
#workingarea {
    margin: 0 auto;
    width: 80%;
    height: 100vh;
    max-width: 1920px;
    background-color: #888;
    border: 1px solid red;
}